.callout {
  // border-top: 5px solid var(--color-theme-alert);
  background: var(--color-theme-highlight-block);

  a {
    color: var(--color-theme-alert);
  }
}

.pumpcoaching-callout {
  color: var(--color-alert);
  background-color:var(--color-light);

  p {
    color: var(--color-dark);
  }

  .pumpcoaching-contact {
    margin-top: get-size(700);

    >ol {
      color: var(--color-dark);

      >li {
        margin-bottom: 24px;

        .question__label {
          font-size: get-size(300);
        }
      }
    }

    @include media-query('md') {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      >ol {
        width: 66%;
      }

      .button {
        min-height: 42px;
        margin-top: 21px;
      }
    }
  }
}

