.callout {
  background-color:var(--color-light);

  a {
    color: var(--color-theme-alert);
  }
}

.callout-wave {
  // height: 175px;
  display: none;

  @include media-query('lrg') {
    display: block;
    >svg {
      display: block;
    }

    &.callout-wave__bottom {
      max-height: 200px;
    }

    // &.callout-wave__top {
    //   height: 300px;
    // }
  }

}

.pumpcoaching-callout {
  color: var(--color-alert);
  background: var(--color-theme-highlight-block);
  position: relative;

  .wrapper {
    >span {
      font-style: italic;
    }
  }
 

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .intro__callout {
      width: 100%;
      order: 2;
      margin-top: 1rem;

      .button {
        color: var(--color-light);
        margin-top: 1rem;
      }
    }

    .intro__callout__image {
      width: 100%;
    }

    @include media-query('sm') {
      flex-direction: row;

      .intro__callout {
        width: 45%;
        order: 0;
      }

      .intro__callout__image {
        width: 55%;
      }
    }
  }
}

