.callout {
  // border-top: 5px solid var(--color-theme-alert);
  background: var(--color-theme-highlight-block);

  a {
    color: var(--color-theme-alert);
  }
}

.pumpcoaching-callout {
  color: var(--color-alert);
  background-color:var(--color-light);

  p {
    color: var(--color-dark);
  }

  .pumpcoaching-contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: get-size(700);

    >ol {
      width: 66%;
      color: var(--color-dark);

      >li {
        margin-bottom: 24px;

        .question__label {
          font-size: get-size(300);
        }
      }
    }

    .button {
      min-height: 42px;
      margin-top: 21px;
    }
  }
}

