.border-gradient {
  border: 4px solid;
  border-image-slice: 1;
  border-width: 8px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to left, var(--color-alert), var(--color-highlight));
}

.page--pumpcoaching {
  position: relative;
  height: auto;

  h1,h2 {
    font-family:'CooperLight', serif;
  }

  .site-head {
    .site-head__logo {
      max-width: 100px;
    }
  }

  .topic-bars {
    // border: 2px solid red;

    .topic-bar {
      cursor: pointer;
      background-color: var(--color-primary);
      color: var(--color-highlight);
      overflow: hidden;
      height: 200px;

      &__container {
        border: 1px solid green;
        height: 100%;
        display: flex;
        justify-content: space-between;

        max-width: 80rem;
        margin: 0 auto;
        padding: 0 1.5em;

        &--title {
          border: 1px solid orange;
          height: 100%;
          display: flex;
          flex: 1 1;
          flex-direction: column;
          justify-content: center;
        }
      }

      &.active {
        border: 5px solid purple;
      }

      &.integrate-pumping-with-breastfeeding {
        background-color: #f0efd9;
        color: var(--color-primary);
      }
    }
  }

  .pumpcoaching-pitch {

    &__topics {
      border-top: 4px solid var(--color-highlight);
      margin-top: 2rem;
      // background-color: var(--color-highlight-glare);

      >p {
        text-transform: uppercase;
        font-size: 14px;
        @include apply-utility('font', 'avenir');
        font-weight: bold;
        padding: 1rem;
      }

      &-list {
        text-transform: capitalize;
        list-style-type: disc;
        line-height: 1.75rem;
        padding: 0.5rem 2rem 2rem 2rem;
        
        >li::marker {
          color: var(--color-alert);
          // content: url(../../images/favicon.png);
        }
      }
    }

    @include media-query('md') {
      >p {
        font-size: 17px;
        width: 75ch;
        margin: 1rem auto 1rem;
      }

      &__topics {
        // margin: auto 4rem;

        &-list {
          column-count: 2;
          column-gap: 2rem;

          // >li {
          //   background: var(--color-alert);
          //   padding: 1em;
          //   border-radius: 20px;
          // }
        }
      }
    }
  }

  .how-it-works {
    background-color: var(--color-light);

    >h3 {
       text-align: center;
    }

    .how-it-works-steps {
      display: flex;
      flex-direction: column;

      >div {
        background-color: var(--color-light);
        padding: 2rem 1rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1em;
        >span {
          display: none;
        }
      }

      @include media-query('md') {
        flex-direction: row;
        max-width: map-get($metrics, 'xl-breakpoint');
        

        >div {
          width: 33.33%;
          margin: 1em;
          min-height: 200px;
          margin-bottom: 0;
          &:before {
            content: "";
            height: 50px;
            width: 50px;
            border: 2px solid var(--color-alert);
            border-radius: 30px;
            position: absolute;
            top: -29px;
            left: calc(50% - 25px);
            background: white;
            z-index: 0;
          }
          >span {
            display: block;
            position: absolute;
            top: -24px;
            left: calc(50% - 20px);
            color: var(--color-light);
            display: block;
            background: var(--color-alert);
            background: linear-gradient(90deg, rgba(242,79,61,1) 0%, rgba(243,123,109,1) 100%);
            height: 40px;
            width: 40px;
            border-radius: 20px;
            z-index: 1;
          }
        }
      }
    }
  }

  .pumpcoaching-testimonials {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;
    >p {
      margin: 0 auto;
    }

    .testimonials-wrapper {
      display: flex;
      flex-direction: column;
      .testimonial {
        padding: 4rem 2.44rem;
        width: 100%;
        margin: 0.5rem;
        .testimonial-quote {
          position: relative;
          &:before {
            position: absolute;
            content: '“';
            font-size: 6em;
            top: 10px;
            left: -10px;
            line-height: 0px;
            font-family: 'CooperLight';
            color:rgba(13, 47, 79, 0.25);
          }
        }
        .testimonial-bio {
          font-style: italic;
          >span {
            padding-left: 0.25rem;
          }
        }
      }
      @include media-query('md') {
        flex-direction: row;
        .testimonial {
          width: 50%;
        }
      }
    }    
  }

  .pumpcoaching-cta {
    .cta-wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      >div {
        width: 100%;
        padding: 2rem 2rem;
        margin-bottom: 1rem;
        transition: all 0.35s ease-in-out;
        border-radius: 84% 16% 31% 69% / 52% 37% 63% 48%;
        cursor: pointer;
        position:relative;
        &:nth-child(odd) {
          border-radius: 23% 86% 26% 60%/82% 33% 62% 48%;
        }
        &:hover {
          background-color: var(--color-alert);
          border-radius: 37% 57% 69% 48%/52% 46% 38% 69%;
        }
        >h4{
          font-size: 1.5rem;
        }
        >p {
          margin: 0 auto;
        }
        .button {
          margin-top: 1rem;
          // background-color: var(--color-highlight);
          // color: var(--color-primary);
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        &::before {
          content:'';
          width: 0;
          height: 0;
          top:0;
          left:0;
          position:absolute;
          border-top: 50px solid var(--color-light);
          border-right: 50px solid transparent;
        }
        &::after {
          content:'';
          width: 0;
          height: 0;
          bottom:0;
          right:0;
          position:absolute;
          border-bottom: 50px solid var(--color-light);
          border-left: 50px solid transparent;
        }
      }
      @include media-query('md') {
        flex-direction: row;
        >div {
          width: 50%;
          margin-right: 1rem;
          margin-bottom: 0;
          padding: 6rem 2rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
    
    .pumpcoaching-cta--button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      >img {
        width: 40%;
        height: auto;
        margin-left: 1rem;
      }
      >button {
        margin-top: 1.5rem;
        background-color: var(--color-alert);
        padding: .8rem 2rem;
      }
    }
  }

  .pumpcoaching-advocate {
    position: relative;

    >div {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;

      @include media-query('md') {
      flex-direction: row;

      }
    }

    .advocate-container {
      width: 55%;
      margin-top: 2rem;
    
      &__onesheeter {
        &__link {
          display: inline-block;
          &,
          &:visited {
            color: var(--color-theme-alert);
            text-decoration: underline;
          }
      
          &:hover {
            color: var(--color-primary-shade);
          }
        }
      }

      @include media-query('md') {
        margin-right: 2rem;

      }
    }

    .advocates-artwork {
      max-width: 400px;
      width: 45%;
    }
  }

  .site-foot {
    border-top: none;
  }
}

