<div class="[ callout ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    {% if introCallout %}
      <div class="[ intro__callout ] [ sf-flow ] [ leading-mid measure-short ]">{{ introCallout | safe }}</div>
    {% endif %}
  </div>
</header>
