{% if introCallout %}
  <div class="[ callout ] [ pad-top-900 pad-bottom-max ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <div class="[ intro__callout ] [ sf-flow ] [ leading-mid measure-short ]">{{ introCallout | markdownFilter | safe }}</div>
    </div>
  </div>
{% endif %}
