{% from "macros/form.njk" import label, field, textarea, button %}

<div class="[ services-form inner-wrapper gap-top-max gap-bottom-max ]">
  <h2 class="ta-center">{{ formHed }}</h2>
  <p class="ta-center">{{ formDek }}</p>
  <form name="{{ formName }}--form" method="POST" data-netlify="true" action="/thank-you" netlify-honeypot="bot-field" class="{{ formName }}--form">
    <ol class="[ field-list ]">
      <li class="[ field-list__field-group ]">
        {{ label("Your name", "field-text-name") }}
        {{ field( "text", "field-text-name", { required: true, placeholder: "Jane Doe", autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
        
        {{ label("What’s your email address?", "field-email") }}
        {{ field( "email", "field-email", { required: true, placeholder: "name@company.com", autocomplete: "email" } ) }}
        
        {{ label("Company/Employer: (optional)", "field-company-employer") }}
        {{ field( "text", "field-company-employer", { required: false, placeholder: "Company name", autocomplete: "organization", autocorrect: "off", autocapitalize: "off" } ) }}
        
        {{ label("Anything else you want to share? (optional) ", "field-additional-info") }}
        {{ textarea( "field-additional-info", { required: true, autocapitalize: "sentences", spellcheck: "true" } ) }}
      </li>
      <li hidden>
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </li>
    </ol>
    {{ button("Submit") }}
  </form>

</div>
