{% if ticker %}
  <div class="[ ticker ] [ box-flex space-center direction-column align-center ]">
    <p>{{ tickerHed | safe }}</p>
    <p>{{ tickerDek | safe }}</p>
  </div>
{% endif %}
<header class="[ intro ] {% if introClass %}{{ introClass }}{% endif %} [ pad-top-max pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h1 class="[ intro__heading font-cooper-light ] [ {% if intro_class %} {{ intro_class }} {% endif %} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
    {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>
