<div class="po-services">
  {# <h3 class="[ ta-center font-avenir text-700 ]"> Get to know some of our services </h3> #}
  <div> 
    <div class="[ service-items box-flex gap-left-300 gap-right-300 ]">

      <div class="service-item--wrapper">
        <div class="service-item">
          <h2>Pump Coaching</h2>
          <img src="../images/po-services-pumpcoaching.svg" alt="Proud Ounces Pump Coaching" />
          <p>Offered as an employer provided benefit and individually, Pump Coaching gives a breast/chestfeeding parent the information and confidence to balance their professional ambitions with milk-making. </p>
          <a class="[ color-alert cta ]" href="/pumpcoaching">Customize Your Plan</a>
        </div>
      </div>

      <div class="service-item--wrapper">
        <div class="service-item">
          <h2>Policy Making</h2>
          <img src="../images/po-services-policy-making.svg" alt="Proud Ounces Policy Making" />
          <p>A single source of truth for all things lactation support, tailored for your business.</p>
          <a class="[ color-alert cta ]" href="/pumpcoaching">Start Building Support</a>
        </div>
      </div>
    </div>
  </div>
</div>