<div class="po-products [ pad-top-900 pad-bottom-900 ] ">
  <div class="hed">Some of our services</div>
    {% for item in products -%}
      <div class="product ta-center">
        <h2>{{ item.productHed }}</h2>
        <img src="{{ item.lede }}" />
        <p>{{ item.productDesc }}</p>
        <a class="cta" href="{{ item.productURL }}">Learn More</a>
      </div>
    {% endfor -%}
</div>