<div class="po-testimonials [ pad-top-900 pad-bottom-max ] ">
  <div class="[ inner-wrapper ]">
    <h2>Proud Shout Outs</h2>
    <p>Our results speak for themselves. See how Proud Ounces is changing the culture around breastfeeding & working.</p>
  </div>
  <div class="po-testimonials--wrapper">
    {% for quote in testimonials -%}
      <div class="quote">
        <p>{{ quote.quote }}</p>
        <div class="quote-attribution">
          <span>{{ quote.name }}, {{ quote.profession }}</span>
        </div>
      </div>
    {% endfor -%}
  </div>
</div>