<div class="[ pad-top-900 pad-bottom-max ] ">
  <p>"I can't speak highly enough of Kristen and her team at Proud Ounces for how helpful, knowledgeable and seamless the entire policy creation process was. They truly take the time to listen to the shortcomings we are feeling now, our business model, hosted a focus group with pumping moms about their experience, and then presented ideas, suggestions, and accommodations that felt right and met the needs of our team. Some of the suggestions were Aha! moments for us, some were a bit ahead of the curve that we are happy to be instituting and all feel really good that we landed on the "Think Way" of doing this and doing it right."</p>
  <p>Nora Leco, VP Internal Operations Think Company</p>
</div>