{% set bodyClass = "page--book" %}
{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="book--wrapper" tabindex="-1">
    <div class="book-chapters-wrapper">
      <ol>
        {% for chapter in chapterlist.chapters -%}
        <li>{{ chapter.text }}</li>
          {% for subchapter in chapter.subchapters -%}
          <ul>
            <li>{{ subchapter.text}}</li>
          </ul>
          {% endfor -%}
        {% endfor -%}
      </ol>
    </div>
    <div class="book--content-wrapper">
      <ul>
        {% for post in collections.thebook -%}
        <li>{{post.data.title}}{# {{ post.data.title }}, {{ post.data.date }}, #} {{ post.templateContent | safe }}</li>
        {% endfor -%}
      </ul>
    </div>
    <div class="book--cta-wrapper">
    </div>
  </main>
{% endblock %}

