{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introClass = "ta-center" %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Marquee content #}
{% set ticker %}
  {{ tickerHed | safe }}
{% endset %}

{# Callout content #}
{% set introCallout %}{{ callout | safe }}{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/po-services.njk" %}
    {% include "partials/components/homepage-form.njk" %}

    {# {% include "partials/components/pumpcoaching-callout.njk" %} #}
    {# {% include "partials/components/callout.njk" %} #}
  </main>
{% endblock %}
