{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introClass = "ta-center" %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{% set formName = "policymaking" %}

{# Callout content #}
{% set introCallout %}{{ callout | safe }}{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/policymaking-highlights.njk" %}
    {% include "partials/components/policymaking-howitworks.njk" %}
    {% include "partials/components/testimonials-single.njk" %}
    {% include "partials/components/form.njk" %}
  </main>
{% endblock %}
