{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introClass = "ta-center" %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# {% set topWaveColor = "#ffb201" %}
{% set topWaveColorRGBA = "255,194,51" %} #}
{% set formName = "policymaking" %}

{# Callout content #}
{% set introCallout %}{{ callout | safe }}{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <div class="policymaking-top-wrap">
      {% include "partials/components/intro.njk" %}
      {# {% include "partials/animations/topwave.njk" %} #}
      {% include "partials/components/policymaking-highlights.njk" %}
      {% include "partials/components/policymaking-howitworks.njk" %}
    </div>
    {% include "partials/components/testimonials-single.njk" %}
    {% include "partials/components/form.njk" %}
  </main>
{% endblock %}
