{% set bodyClass = "page--pumpcoaching" %}
{% set intro_class = "intro-pumpcoaching ta-center" %}
{% set header_padding = "large" %}
{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <div class="[ pumpcoaching-pitch ][ inner-wrapper ] [ leading-loose pad-bottom-900 text-500 ta-center ] [ sf-flow ] [ e-content ] [ measure-compact ]">
      {{ content | markdownFilter | safe }}
    </div>

    <div class="[ how-it-works ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ta-center ] [ sf-flow ]">
      <h2> How it works </h2>
      <div class="[ how-it-works-steps ] [ inner-wrapper ] ">
        {% for step in pumpcoachingSteps -%}
          <div class="[ text-400 ta-center ] [ border-gradient border-gradient-purple ]">
            <span class="[ how-it-works-steps--index  ] [ text-600 weight-light ]">{{loop.index}}</span>
            {# <p class="[ step-icon text-800 ]">{{ step.icon }}</p> #}
            <img class="step-icon" src="../images/{{ step.icon }}" />
            <p class="[ leading-tight ]">{{ step.copy }}</p>
          </div>
        {% endfor -%}
      </div>
    </div>

    <div class="[ pumpcoaching-cta ] [ inner-wrapper  sf-flow ] [ ta-center pad-top-900 pad-bottom-900 ]">
      <h2> Lets get going! </h2>
      <div class="[ cta-wrapper ]">
        <div class="[ ta-center bg-highlight-glare color-primary ]">
          <h4 class="[ font-cooper-light gap-bottom-300 ]">For Employers </h4>
          <p class="[ measure-compact ]">Want to learn about providing Proud Ounces Pump Coaching as a benefit to your employees?</p>
          <button class="[ button ] [ font-base text-base weight-bold ]">Let's do it!</button>
        </div>
        <div class="[ ta-center bg-highlight-glare color-primary ]">
          <h4 class="[ font-cooper-light gap-bottom-300 ]">For Moms </h4>
          <p class="[ measure-compact ]">Want to book a pump coaching session and become a pumping &amp; working pro on the first day back?</p>
          <button class="color-primary [ button ] [ font-base text-base weight-bold ]">Book my session</button>
        </div>
      </div>
    </div>

   

    <div class="[ pumpcoaching-advocate bg-highlight ] [ pad-top-max pad-bottom-max gap-top-supermax gap-bottom-supermax ]">
      <div class="[ inner-wrapper ta-left sf-flow pad-bottom-900 ]">
        <div class="[ advocate-container advocate-container__onesheeter ]">
          <h3 class="[ color-primary measure-compact ]">Helping more Moms get back to work.</h3>
          <p class="[ measure-short ]">Help your employer support pumping & working. Get a one-sheeter to give to your manager or benefits decision maker.</p>
          <a class="[ advocate-container__onesheeter__link gap-top-300 weight-bold ]" href="#">Download one-sheeter</a>
          <span> or </span>
          <a class="[ advocate-container__onesheeter__link gap-top-300 weight-bold ]" href="#">Click to copy a message to send to your employer</a>
        </div>
        <div class="[ advocates-artwork ]">
          {% include "icons/pumpcoaching-advocate-desk.svg" %}
        </div>
      </div>
      {# <div class="[ advocates-wrapper inner-wrapper ta-left sf-flow ]">
        <div class="[ advocate-container onesheeter ]">
          <p class="[ measure-short ]">Help your employer support pumping & working. Get a one-sheeter to give to your manager or benefits decision maker.</p>
          <a class="[ onesheeter__link gap-top-300 weight-bold ]" href="#">Download one-sheeter</a>
          <span> or </span>
          <a class="[ onesheeter__link gap-top-300 weight-bold ]" href="#">Click to copy a message to send to your employer</a>
        </div>
        <div class="[ advocate-container advocate-container__tellafriend ]">
          <p>Share this on social media</p>
        </div>
        <div class="[ advocate-container ]">
          <p>Tell lots of Friends</p>
        </div>
      </div>  
      <div class="[ advocates-artwork ]">
        {% include "icons/pumpcoaching-advocate-desk.svg" %}
      </div>
      #}
      
    </div>

     <div class="[ pumpcoaching-testimonials ] [ pad-top-900 pad-bottom-900 ta-center ]">
      <h2> How we're doing </h2>
       <p class="[ ta-center measure-short pad-top-300 pad-bottom-300 ]">We're helping women all across the world, from small start ups to the biggest companies on the planet.</p>
      <div class="[ testimonials-wrapper ]">
        <div class="[ testimonial bg-highlight-glare color-primary ]">
          <p class="[ testimonial-quote ] [ font-cooper-light text-500 ta-left ]">As a first time Mom, I have no idea what to expect. After our conversation I feel more confident about what to pack, how many ounces I should be pumping each day, how to pump efficiently, and how to talk to my administration. I know it will take some time to be comfortable with pumping at work, but the coaches helped me become more confident and to advocate for myself.</p>
          <p class="[ testimonial-bio ta-left pad-top-300 italic ]">Lauren,<span class="[ testimonial-bio--occupation ] ">Elementary school teacher</span></p>
        </div>
        <div class="[ testimonial bg-highlight-glare color-primary ]">
          <p class="[ testimonial-quote ] [ font-cooper-light text-500 ta-left ]">They answered all of the questions I had and even those I didn’t realize I had. Every topic about pumping was discussed and I feel very prepared moving forward and starting the process of pumping while at work.</p>
          <p class="[ testimonial-bio ta-left pad-top-300 italic ]">Jaclyn,<span class="[ testimonial-bio--occupation ] ">Attorney</span></p>
        </div>
      </div>
      {# <h3 class="[ gap-top-600 ]"> Who we're doing it with </h3>
      <p class="[ ta-center ]">We're helping women all across the world, from small start ups to the biggest companies on the planet.</p> #}
    </div>
    
  </main>
{% endblock %}

{# {{ content | markdownFilter | safe }} #}
