.ticker {
  background-color: var(--color-primary-glare);
  padding: 0.25rem;
  color: var(--color-light);

  >p {
    &:first-of-type{
      font-size: 0.8rem;
    }
    &:last-of-type{
      color: var(--color-highlight-glare);
      font-size: 0.6rem;
    }
  }
}

.po-services { 
  .service-items {
    max-width: 80rem;
    margin: 0 auto;
    flex-direction: column;
    @include media-query('md') {
      flex-direction: row;
    }
  }
}

.homepage-lead-gen-form {
  max-width: 40rem;

  >form {
    margin: 0 auto;
  }

  label {
    padding: 0.5rem 0;
  }
}